@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('/images/background3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

html.dark body {
  background-image: linear-gradient(to bottom, #3a2b30, #5e3a4d);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

